**/.dockerignore
**/.env
**/.env.*
!**/.env.example

**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea

**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.suo
**/*.user

**/azds.yaml
**/bin
**/obj
**/Debug
**/Release
**/artifacts

**/charts
**/docker-compose*
**/Dockerfile*

**/node_modules
**/npm-debug.log

**/secrets.dev.yaml
**/values.dev.yaml
**/secrets.json

**/*.pfx
**/*.p12
**/*.pem
**/*.key
**/*.crt

**/*.log
**/logs
**/TestResults
**/coverage
**/coverage.*
**/*.trx
**/*.coverage
**/*.coveragexml

LICENSE
README.md